# pandas -> 


# 1]   i can  do data manipulacation in my data

# 2]  also do wrangling of my data.

# 3] analysis the data.




# all the data in the pandas   data structure  is divide into memory data structure  : - 1} series     2} dataframe


# series in panda is 1D array in acess level.means is similar that simple array. index running from in 0


# dataframes most  useful data structure  represent almost  any kind of data in 2D form

In [ ]:
import pandas as pd

In [2]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [3]:
type(population)

pandas.core.series.Series

In [4]:
population[0]

38332521

In [5]:
population["California"]

38332521

In [6]:
population[2]

19651127

#  here,

   cal  tex ne  flo  illi       -> explict index.
   
   |383|196|165|789|123|

   0    1    2   3    4         -> implict index

In [7]:
population[0:3]

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [8]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [9]:
pd.Series([2,4,6,8])

0    2
1    4
2    6
3    8
dtype: int64

In [10]:
pd.Series(25)

0    25
dtype: int64

In [11]:
s=pd.Series(25,index=["Divya"])
print(s)

Divya    25
dtype: int64

In [12]:
s[0]

25

In [13]:
s["Divya"]

25

In [14]:
pd.Series(25,index=["Divya"])

Divya    25
dtype: int64

In [15]:
pd.Series(25,index=["Divya"])[0]

25

In [16]:
pd.Series(25,index=["Divya"])["Divya"]

25

In [17]:
pd.Series(25,index=[111,222,333])

111    25
222    25
333    25
dtype: int64

In [18]:
pd.Series(25,index=[111,222,333])[111]

25

In [19]:
pd.Series(25,index=[111,222,333])[222]

25

In [20]:
pd.Series(25,index=[111,222,333])[333]

25

In [21]:
s = pd.Series(25,index=[111,222,333])
print(s)

111    25
222    25
333    25
dtype: int64

In [22]:
s = pd.Series(25,index=[111,222,333])
print(s)
print(s[0])
#If the explict index has numbers , then no implict indexing is assigned by default because it can cause conflicts  (error).

111    25
222    25
333    25
dtype: int64

KeyError: 0

In [23]:
pd.Series( {2:'a' ,1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [24]:
pd.Series( {2:'a' ,1:'b',3:'c'} ,index = [3,2])

3    c
2    a
dtype: object

In [25]:
# DATAFRAME :2D

print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [26]:
print(type(population))

<class 'pandas.core.series.Series'>

In [27]:
pd.DataFrame(population)

                   0
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [28]:
pd.DataFrame(population , columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [29]:
 data = [ {'a':i, 'b':2*i} for  i  in range (3)]
df= pd.DataFrame(data)
df

   a  b
0  0  0
1  1  2
2  2  4

In [32]:
df.columns=["Divya","ughade"]

In [31]:
df

   Divya  ughade
0      0       0
1      1       2
2      2       4

In [33]:
 data = [ {'a':i, 'b':2*i} for  i  in range (3)]
df= pd.DataFrame(data, columns=["divya","ughade"])
df

   divya  ughade
0    NaN     NaN
1    NaN     NaN
2    NaN     NaN

In [34]:
 data = [ {'a':i, 'b':2*i} for  i  in range (3)]
df= pd.DataFrame(data, index=["x","y","z"])
df

   a  b
x  0  0
y  1  2
z  2  4

In [35]:
df.columns =["divya","ughade"]
df

   divya  ughade
x      0       0
y      1       2
z      2       4

In [36]:
df.columns

Index(['divya', 'ughade'], dtype='object')

In [37]:
type(df.columns)

pandas.core.indexes.base.Index

In [38]:
list(df.columns)

['divya', 'ughade']

In [39]:
set(df.columns)

{'divya', 'ughade'}

# indexers :loc and ilocs

In [40]:
data =pd.Series(['a','b','c'] , index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

  HERE,
  
   1    3   5 ---------------->>>>> explict index.
  | a | b | c |
  
   0    1   2 ---------------->>>>>> implict index

In [41]:
# Indexing -->> pandas uses explict index.
data[1]

'a'

In [42]:
#slicing ->pandas uses implict index
data[1:3]

3    b
5    c
dtype: object

In [43]:
#this issue can be sloved using  loc and iloc
data

1    a
3    b
5    c
dtype: object

In [44]:
#  implict index : - whenever you want acess implict indexes. we are going to use "iloc" function.

# explict index : - we are going to use "loc" function.


data.loc[1]

'a'

In [45]:
data.loc[1:3]

1    a
3    b
dtype: object

In [46]:
data.iloc[1:3]     # here use little formula  =start index to (explict index -1).

3    b
5    c
dtype: object

In [47]:
data.iloc[1]

'b'

In [68]:
data = pd.read_csv("DIVYA.csv")
data(head)

FileNotFoundError: [Errno 2] No such file or directory: 'DIVYA.csv'